################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio, but then had to be modified manually because it made a mess by adding redundant lines.
################################################################################

/.vs/
/Debug
/Release
/Lines_2016_8_24_17_56.txt
/LineCounter.py
/kitsulib/Lines_2016_9_3_1_48.txt
/KitsuRPG.ra_
/kitsulib/Lines_2016_9_9_18_41.txt
/charserv/player_server.bin
/kitsulib/Lines_2016_10_6_3_55.txt
/kitsulib/Lines_2016_10_10_15_15.txt
/kitsutools/Lines_2016_10_16_6_27.txt
/kitsulib/Lines_2016_10_16_6_27.txt
/Launcher/l2text
/Launcher/launcher.jpg
/Launcher/launcher.bmp
/Launcher/Launcher.exe
/Lines_2016_11_23_13_14.txt
/KitsuBlend
/Kitsu3D
/charserv
/KitsuGUI
/netlib
/tactical
/kitsulib/LineCounter.py
/chatserver_client
/chatserver
/Lines_2017_5_28_0_19.txt
